<div class="tab-content tab-2">
    <div class="container">
        <div class="flex-around">
            <div>
                <h3 class="title-tertiary">В стоимость тура входит:</h3>
                <ul class="plane">
                    <li>4 ночи проживания в Сингапуре</li>
                    <li>2 ночи проживания в Куала-Лумпуре</li>
                    <li>1 ночь проживания в высокогорье Гентинг</li>
                    <li>Все завтраки</li>
                    <li>Обзорная экскурия по Куала-Лумпуру</li>
                    <li>Билеты в башню Куала-Лумпур (с экскурией по городу)</li>
                    <li>Экскурсия по пещерам Бату в Гентинг Хайленд</li>
                    <li>Поездка на канатной дороге в Гентинг Хайленд</li>
                    <li>Тур по Сингапуру</li>
                    <li>Поездка на канатной дороге Сентоза (поездка на канатной дороге)</li>
                    <li>Поездка на Делюкс автобусе в течении тура</li>
                    <li>Трарнсфер из аеропорта и обратно</li>
                    <li>Visa (Сингапур)</li>
                </ul>
            </div>
            <div>
                <h3 class="title-tertiary">В стоимость тура не входит:</h3>
                <ul class="plane">
                    <li>Авиа-перелёты</li>
                    <li>Услуги фирмы</li>
                    <li>Медицинская страховка</li>
                </ul>
            </div>
        </div>
    </div>
</div>