<div class="tab-content tab-1">
    <div class="container center">
        <p class="paragraph">Тут должен быть текст о туре который расскажет пользовотелю что он
            увидит в туре. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, ullam!
            Placeat accusantium nemo rem cumque ex quisquam perferendis sint corrupti quidem
            veritatis, ducimus nihil quibusdam non, dicta illum? Ex, deserunt.</p>
        <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, ullam!
            Placeat accusantium nemo rem cumque ex quisquam perferendis sint corrupti quidem
            veritatis, ducimus nihil quibusdam non, dicta illum? Ex, deserunt.</p>
        <div class="flex-around-center row-with-price">
            <div class="price">Цена: 5.200.000сум (на 1 человека)</div>
            <h3 class="title-tertiary">Длительность: 8 дней/ 7 ночей</h3><br>
        </div>
        {% include 'Modals/modalsOrder.html' %}
    </div>
</div>