<div class="tab-content tab-3">
    <div class="container-mini">
        <div class="tour-program">
            <div class="line"></div>
            <div class="steps">
                <div class="step">
                    <span class="step-icon">1</span>
                    <p><strong>Day 1</strong> Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Qui exercitationem autem odit quibusdam neque repudiandae minima ut
                        quisquam fugiat voluptatibus excepturi laudantium, temporibus repellendus
                        atque? Modi voluptate facere alias consectetur hic, debitis non nemo
                        tempore, voluptatibus sunt inventore sapiente, fugit quod temporibus
                        veritatis atque laboriosam adipisci placeat dolorem dolor aspernatur
                        explicabo aut voluptatum cupiditate! Adipisci dolorem autem temporibus
                        sapiente eos perferendis, hic accusamus, ea sit voluptas dignissimos iure
                        laboriosam harum incidunt reiciendis, quia magni. Error ut ipsa placeat,
                        doloremque, rem ea aspernatur magni, necessitatibus nihil blanditiis atque
                        quas suscipit nostrum cumque quaerat nam. Placeat repudiandae officiis,
                        quidem dignissimos labore quod.</p>
                </div>
                <div class="step">
                    <span class="step-icon">1</span>
                    <p><strong>Day 2</strong> Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Qui exercitationem autem odit quibusdam neque repudiandae minima ut
                        quisquam fugiat voluptatibus excepturi laudantium, temporibus repellendus
                        atque? Modi voluptate facere alias consectetur hic, debitis non nemo
                        tempore, voluptatibus sunt inventore sapiente, fugit quod temporibus
                        veritatis atque laboriosam adipisci placeat dolorem dolor aspernatur
                        explicabo aut voluptatum cupiditate! Adipisci dolorem autem temporibus
                        sapiente eos perferendis, hic accusamus, ea sit voluptas dignissimos iure
                        laboriosam harum incidunt reiciendis, quia magni. Error ut ipsa placeat,
                        doloremque, rem ea aspernatur magni, necessitatibus nihil blanditiis atque
                        quas suscipit nostrum cumque quaerat nam. Placeat repudiandae officiis,
                        quidem dignissimos labore quod.</p>
                </div>
                <div class="step">
                    <span class="step-icon">1</span>
                    <p><strong>Day 3</strong> Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Qui exercitationem autem odit quibusdam neque repudiandae minima ut
                        quisquam fugiat voluptatibus excepturi laudantium, temporibus repellendus
                        atque? Modi voluptate facere alias consectetur hic, debitis non nemo
                        tempore, voluptatibus sunt inventore sapiente, fugit quod temporibus
                        veritatis atque laboriosam adipisci placeat dolorem dolor aspernatur
                        explicabo aut voluptatum cupiditate! Adipisci dolorem autem temporibus
                        sapiente eos perferendis, hic accusamus, ea sit voluptas dignissimos iure
                        laboriosam harum incidunt reiciendis, quia magni. Error ut ipsa placeat,
                        doloremque, rem ea aspernatur magni, necessitatibus nihil blanditiis atque
                        quas suscipit nostrum cumque quaerat nam. Placeat repudiandae officiis,
                        quidem dignissimos labore quod.</p>
                </div>
            </div>
        </div>
    </div>
</div>