{% load static %}
{% load webp %}
<div class="tab-content tab-6">
    <div class="container center">
        <div class="row">
            <div class="half">
                <img data-src-webp="{% webp 'touristApp/images/webp/singapore-image-1.jpg' %}"
                     class="hide-xs" src="{% static 'touristApp/images/singapore-image-1.jpg' %}"
                     alt="">
                <img data-src-webp="{% webp 'touristApp/images/webp/singapore-image-1-xs.jpg' %}"
                     class="show-xs" src="{% static 'touristApp/images/singapore-image-1-xs.jpg' %}"
                     alt="">
            </div>
            <div class="half">
                <img data-src-webp="{% webp 'touristApp/images/webp/singapore-image-2.jpg' %}"
                     class="hide-xs" src="{% static 'touristApp/images/singapore-image-2.jpg' %}"
                     alt="">
                <img data-src-webp="{% webp 'touristApp/images/webp/singapore-image-2-xs.jpg' %}"
                     class="show-xs" src="{% static 'touristApp/images/singapore-image-2-xs.jpg' %}"
                     alt="">
            </div>
            <div class="half">
                <img data-src-webp="{% static 'touristApp/images/webp/singapore-image-3.webp' %}"
                     class="hide-xs" src="{% static 'touristApp/images/singapore-image-3.jpg' %}"
                     alt="">
                <img data-src-webp="{% static 'touristApp/images/webp/singapore-image-3-xs.webp' %}"
                     class="show-xs" src="{% static 'touristApp/images/singapore-image-3-xs.jpg' %}"
                     alt="">
            </div>
            <div class="half">
                <img data-src-webp="{% static 'touristApp/images/webp/singapore-image-4.webp' %}"
                     class="hide-xs" src="{% static 'touristApp/images/singapore-image-4.jpg' %}"
                     alt="">
                <img data-src-webp="{% static 'touristApp/images/webp/singapore-image-4-xs.webp' %}"
                     class="show-xs" src="{% static 'touristApp/images/singapore-image-4-xs.jpg' %}"
                     alt="">
            </div>
        </div>
    </div>
</div>