{% load static %}
<div class="tab-content tab-4">
    <div class="container center">
        <h3 class="title-tertiary">Отель Arenaa Star в Куала-Лумпуре или похожее</h3>
        <div>
            <img class="hotel-image hide-xs"
                 src="{% static 'touristApp/images/hotels/arenaa-star.jpg' %}"
                 alt="Отель Аренаа Стар">
            <img class="hotel-image show-xs"
                 src="{% static 'touristApp/images/hotels/arenaa-star-xs.jpg' %}"
                 alt="Отель Аренаа Стар">
        </div>
        <h3 class="title-tertiary">Отель First World в Гентинге или похожее</h3>
        <div>
            <img class="hotel-image hide-xs"
                 src="{% static 'touristApp/images/hotels/first-world-hotel.jpg' %}"
                 alt="Отель First World">
            <img class="hotel-image show-xs"
                 src="{% static 'touristApp/images/hotels/first-world-hotel-xs.jpg' %}"
                 alt="Отель First World">
        </div>
        <h3 class="title-tertiary">Отель Amaris в Сингапуре или похожее</h3>
        <div>
            <img class="hotel-image hide-xs"
                 src="{% static 'touristApp/images/hotels/arenaa-star.jpg' %}"
                 alt="Отель Аренаа Стар">
            <img class="hotel-image show-xs"
                 src="{% static 'touristApp/images/hotels/arenaa-star-xs.jpg' %}"
                 alt="Отель Аренаа Стар">
        </div>
    </div>
</div>