<!-- { for title in titles } -->
<!-- { endfor } -->
<input type="radio" id="checkbox-malaysia-1" class="checkbox checkbox-1" name="tab-malaysia" checked>
<input type="radio" id="checkbox-malaysia-2" class="checkbox checkbox-2" name="tab-malaysia">
<input type="radio" id="checkbox-malaysia-3" class="checkbox checkbox-3" name="tab-malaysia">
<input type="radio" id="checkbox-malaysia-4" class="checkbox checkbox-4" name="tab-malaysia">
<input type="radio" id="checkbox-malaysia-5" class="checkbox checkbox-5" name="tab-malaysia">
<input type="radio" id="checkbox-malaysia-6" class="checkbox checkbox-6" name="tab-malaysia">
<div class="tab-nav">
    <div class="tab-item">
        <label for="checkbox-malaysia-1" class="checker checker-1">
            <i class="fas fa-file-alt"></i>
            <p>Описание</p>
        </label>
    </div>
    <div class="tab-item">
        <label for="checkbox-malaysia-2" class="checker checker-2">
            <i class="fas fa-hand-holding-usd"></i>
            <p>В стоимосте</p>
        </label>
    </div>
    <div class="tab-item">
        <label for="checkbox-malaysia-3" class="checker checker-3">
            <i class="fas fa-list"></i>
            <p>Программа</p>
        </label>
    </div>
    <div class="tab-item">
        <label for="checkbox-malaysia-4" class="checker checker-4">
            <i class="fas fa-hotel"></i>
            <p>Отели</p>
        </label>
    </div>
    <div class="tab-item">
        <label for="checkbox-malaysia-5" class="checker checker-5">
            <i class="fas fa-coins"></i>
            <p>Цены</p>
        </label>
    </div>
    <div class="tab-item">
        <label for="checkbox-malaysia-6" class="checker checker-6">
            <i class="fas fa-images"></i>
            <p>Фото</p>
        </label>
    </div>
</div>