<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>О нас</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt est repellat harum iste in itaque
                    ad minus quae. Officiis asperiores reiciendis possimus odit animi eaque veniam unde tenetur, quas
                    doloribus!</p>
            </div>
            <div class="col">
                <h3>Карта сайта</h3>
                <ul>
                    <li><a href="#">Все туры</a></li>
                    <li><a href="#">Горячие туры</a></li>
                    <li><a href="#">Преимущества</a></li>
                    <li><a href="#">Составить тур</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Контакты</h3>
                <div class="with-icon">
                    <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="content">
                        <a href="#">г. Ташкент ул. Бродуэй 24b</a>
                    </div>
                </div>
                <div class="with-icon">
                    <div class="icon"><i class="fas fa-phone"></i></div>
                    <div class="content">
                        <a href="tel:+998903376000">+998(90) 337-60-00</a>
                    </div>
                </div>
                <div class="with-icon">
                    <div class="icon"><i class="fas fa-envelope"></i></div>
                    <div class="content">
                        <a href="mailto:info@company.com">info@company.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Все права защищены &copy;2020</p>
        </div>
    </div>
</footer>