{% load static %}
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-inner">
            <div class="navbar-logo">
                <a href="#"><img src="{% static 'touristApp/images/logo.jpg' %}" alt=""></a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-logo show-sm">
                    <a href="#"><img src="{% static 'touristApp/images/logo.jpg' %}" alt=""></a>
                </div>
                <ul class="list">
                    <li class="item">
                        <a href="#medtours" class="link">Медицинские туры</a>
                    </li>
                    <li class="item">
                        <a href="#tours" class="link">Туры</a>
                    </li>
                    <li class="item">
                        <a href="#advantages" class="link">Преимущества</a>
                    </li>
                    <li class="item">
                        <a href="#hottours" class="link">Горячие туры</a>
                    </li>
                    <li class="item">
                        <a href="#maketour" class="link">Составить тур</a>
                    </li>
                    <li class="item">
                        <a href="#partners" class="link">Партнёры</a>
                    </li>
                </ul>
                <div class="navbar-menu-contact-info show-sm">
                    <div class="telegram">
                        <a target="_blank" href="#" class="btn-telegram">
                            <i class="fab fa-telegram"></i>
                            <span class="text"><span>Написать в</span> Телеграм</span>
                        </a>
                    </div>
                    <div class="phone-call">
                        <a target="_blank" href="tel:+998903376000"><i class="fas fa-phone show-xs"></i><span>+998(90) 337-60-00</span></a>
                    </div>
                    <div class="email">
                        <a target="_blank" href="mailto:#"><i
                                class="fas fa-envelope"></i><span>info@company.uz</span></a>
                    </div>
                    <div class="address">
                        <p><i class="fas fa-map-marker-alt"></i> Г. Ташкент ул. Бродуэй 12a</p>
                    </div>
                </div>
            </div>
            <div class="navbar-contacts">
                <div class="phone-call">
                    <a target="_blank" href="tel:+998903376000"><i class="fas fa-phone show-xs"></i><span
                            class="hide-xs">+998(90) 337-60-00</span></a>
                </div>
                <div class="telegram">
                    <a target="_blank" href="#" class="btn-telegram">
                        <i class="fab fa-telegram"></i>
                        <span class="text hide-xs"> <span class="hide-sm">Написать в</span> Телеграм</span>
                    </a>
                </div>
            </div>
            <div class="navbar-toggler show-sm">
                <div class="btn">
                    <div class="lines line-1"></div>
                    <div class="lines line-2"></div>
                    <div class="lines line-3"></div>
                </div>
            </div>
        </div>
    </div>
</nav>